.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(51, 51, 51);
  color: #fff;
  height: 50px;
}

.logo {
  margin: 0 10vw;
  display: flex;
  align-items: center;
}

.logo h1 {
  color: #fff;
}

.userImage:hover{
    transform: scale(1.2);
    transition: transform 0.2s ease;
}

@media screen and (max-width: 768px) {
  .navbar {
    flex-direction: column;
  }

  .logo {
    margin: 10px;
  }
}
