.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2em;
  background-color: #333;
  color: #fff;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo h1 {
  color: #fff;
}